@import '../index.css';


.featured-kir-div {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.featured-kir-icon {

    width: 100%;
    height: 100%;
    z-index: -1;

}

.featured-kir-count {
    z-index: -1;
    font-family: 'Poppins-Bold', "Comic Sans MS", sans-serif;
    font-size: 0.8vw;
    width: 100%;
    height: 100%;

    text-align: center;
    color: white;

}

.featured-kir-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.featured-kir-icon-container {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

}