.featured-equipment {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
    fill: rgba(255, 255, 255, 0.7);
    width: 8vw;
}

.featured-equipment-flashbang{
    height: 100%;
    order: 4;
    fill: rgba(255, 255, 255, 0.7);
}

.featured-equipment-smokegrenade{
    height: 100%;
    order: 1;
    fill: rgba(255, 255, 255, 0.7);
}

.featured-equipment-hegrenade{
    height: 100%;
    order: 3;
    fill: rgba(255, 255, 255, 0.7);
}

.featured-equipment-incgrenade{
    height: 100%;
    order: 0;
    fill: rgba(255, 255, 255, 0.7);
}