@import '../index.css';
.player-main-div {
    background-color: rgba(var(--BACKGROUND_COLOR), 0.84);
    color: green;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-top-div{
    background-color: rgba(var(--BACKGROUND_COLOR), 0.88);


    filter: drop-shadow(0 0.3125em 0.125em rgba(0, 0, 0, 0.4));
    display: flex;
}

.player-top-name{
    font-family: 'MonumentExtended-Regular', "Comic Sans MS";
    font-size: 0.95vw;
}

.player-middle-div{
    background-color: transparent;
}

.player-hp-div{
    background-color: rgb(var(--CT_COLOR));

}